doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Быстрый запуск Webpack'
    body
        main
            .contactsblock-wrapper
                .contactsblock-header
                    div
                        span Главная / Точки выдачи
                        h1 Точки <span>Выдачи</span>
                .contactsblock-deliveryinfo
                    div
                        span Фотопрокат Zoom
                        span Малая Ордынка, 25
                        a(href='https://zoom-prokat.ru') https://zoom-prokat.ru/
                    div
                        span Rental Photo
                        span Киркорова, 180/1
                        a(href='http://rentalphoto.com') http://rentalphoto.com
                <div class='contactsblock-mapcontainer' style="position:relative;overflow:hidden;"><a href="https://yandex.by/maps/157/minsk/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Минск</a><a href="https://yandex.by/maps/157/minsk/?ll=27.555691%2C53.902735&utm_medium=mapframe&utm_source=maps&z=12" style="color:#eee;font-size:12px;position:absolute;top:14px;">Яндекс Карты — транспорт, навигация, поиск мест</a><iframe src="https://yandex.by/map-widget/v1/?ll=27.555691%2C53.902735&z=12"  frameborder="none" allowfullscreen="true" style="position:relative;"></iframe></div>
