div.progressbar {
    height: 20px;
    border: 1px solid black;
    width: 300px;    
    margin-top: 10px;
    margin-left: 630px;
}
div.box {
    height: 20px;
    width: 72%;
    background-color: aqua;
    display: inline-block;
}

span.content  {
position: relative;
left: 150px;
}
div.status  {
    font-weight: 900;
    font-size: 50px;
    position: relative;
    margin-left: 690px;
    margin-top: 350px;
}
img.leftzhdun {
    width: 250px;
    position: relative;
    left: 950px;
    bottom: 170px;
}
img.rightzhdun {
    width: 250px;
    position: relative;
    left: 100px;
    bottom: 170px;
}