html {
    font-family: 'Ubuntu';
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}


// div {
//     border: 1px solid black;
// }

// header {
//     border: 1px solid black;
// }

// nav {
//     border: 1px solid black;
// }

// footer {
//     border: 1px solid black;
// }

// label {
//     border: 1px solid black;
// }

// form {
//     border: 1px solid black;
// }
