doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Контакты'
    body
        include content/header.pug
        include content/contactsblock.pug
        include content/footer.pug
