doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Новости'
    body
        include content/header.pug
        include content/newspage.pug
        include content/footer.pug
