doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Форма входа'
    body
        include content/header.pug
        include content/signblock.pug
        include content/footer.pug
